$bgcolour1 : #fff;
$textColour : rgb(255, 255, 2);
$logoColour1 : rgb(248, 237, 83);

html{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding:0;
    body{
        background: $bgcolour1;
        margin: 0 auto;
        font-size: 62.5%;
        width:80%;
        scroll-behavior: smooth;
        font-family: 'Roboto Condensed', sans-serif;
        
        header{
            display: grid;
            grid-template-columns: 1fr 5fr;
            
            background: {
                color: white;
            }
            border-bottom:2px solid rgb(0, 174, 255);
            a {
                padding-left: 1.2em;
                img{
                    width: auto;
                    height:90px;
                }
            }
            nav{
                display:grid;
                grid-template-columns: 2fr 1fr;
                grid-template-areas: "navmid navright";

                .main-nav-center{
                    grid-area:navmid;
                    li{
                        list-style:none;
                        margin:0;
                        padding:0;
                        float:right;
                        padding:1.3em;
                        font-size:2.0em;
                       
                    }
                }
                .main-nav-right{
                    grid-area:navright;
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    border-bottom: 1px yellow solid;
                        
                    
                    li{
                    
                        list-style: none;
                        float:right;
                        padding: 1.2em;
                        opacity: 0.5;

                        &:hover{
                            opacity: 1.5;
                        }
                        
                    }
                    .main-nav-right-instagramicon{
                        color:#bc2a8d;
                    }
                    .main-nav-right-facebookicon{
                        color:#3b5998;
                    }
                    .main-nav-right-twittericon{
                        color:#1DA1F2;
                    }
                    .main-nav-right-snapchaticon{
                        color: 	#c4c12a;
                    }
                    .main-nav-right-youtubeicon{
                        color: #FF0000;
                    }    

                }
            }
        }
    
        .section-main-landing{
            height:85vh;
            width:100%;
            display:grid;
            grid-template-columns: 20% 60% 20%;
            grid-template-areas: "left center right";
            background: url("https://hdqwalls.com/download/girl-fitness-model-pic-1920x1080.jpg");
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            text-align:center;
                h1{
                    grid-area:center;
                    padding-top:3.0em;
                }
            .main-landing-title{
                
                font-size: 3em;
                color:white;
                span{
                    padding-left:1.8em;
                    color:yellow;
                }
            }

        }
        .section-main-landing-arrowdown{
        text-align:center;
        }

        .section-quote{
            font-size: 1.8em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align:center;
            h2{
                display: inline-block;
            }
            p{
                font-style:italic;
                font-family: 'Open Sans Condensed', sans-serif;
                font-weight: 800;   
            }
        }

        .section-facilities{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1.8em;
            
            margin-top: 3em;
            

            .section-facilities-card{
                text-align:center;
                border: 1px solid blue;
                border-radius: 10%;
                i{
                    padding: 1.4em;
                }
                h3{
                    font-size: 1.8em;
                }
                ul{
                    line-height: 3em;
                    li{
                        
                        list-style: none; 
                    
                    }
                }
                
            }
            }
        }

    }
