$bgcolour1 : #111;
$textColour : rgb(255, 255, 2);

html{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding:0;
    body{
        background: $bgcolour1;
        margin: 0 auto;
        header{
            display: grid;
            grid-template-columns:  1fr 6fr 3fr;
            grid-template-areas: "navtop navmid navright";
            a {
                width:60px;
                height:60px;
                img{
                    width: 90px;
                    height:90px;
                }
            }
            nav{
                grid-area:navright;
                text-align: center;
                ul{
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    
                    li{
                        list-style: none;
                        margin: 1.2em;
                        padding: 1.2em;
                        float:right;
                        border: 2px solid $textColour;
                        color:$textColour;
                        &:hover{
                            color:rgb(117, 117, 27);
                            background:{
                                color:rgb(46, 46, 14);
                            }
                        }
                    }

                }
            }
        }
        .section-main-landing{
            height:100vh;
            width:100%;
            display:grid;
            grid-template-columns: 20% 60% 20%;
            background: url("https://hdqwalls.com/download/girl-fitness-model-pic-1920x1080.jpg");
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            text-align:center;
                h1{
                    padding-top: 2em;
                    margin-left: 1.4em;
                    text-align:center;
                    color:black;
                    grid-area: midmid;
                    
                }
                #section-main-landing-div-buttons button{
                    color:$textColour;
                    color:white;
                    border:1px white solid;
                    border-radius: 100%;
                    padding:1.8em;
                    width: 10%;
                    margin: 1.3em;
                    background : { 
                        color:orange
                    }
                }
                }

        }


        .section-about{
            h2{
                text-align:center;
                color:$textColour;
            }
        }
    }